@charset "UTF-8";

/* 変数 */

/* mediaquery */
$SP: 750px;

/* font-weight */
$fontWeightNormal: 400;
$fontWeightBold: 700;

// color
$black: #333;
$red: #E8374A;
$linkColorBlue: #007acc;

// section background color
$bg: #f4f4f4;

// arrow color （矢印）
$arrowColor: #ccc;